#root
{
  flex: 1 0 auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

#root > .mainContent
{
  flex: 1 0 auto;
}

/* attributesList */

.attributesList,
.attributesList__item
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.attributesList
{
  --spacing: 1ch;
  margin-left: calc(-1 * var(--spacing));
}

.attributesList__item
{
  display: inline-block;
  margin-left: var(--spacing);
}
